*{
    box-sizing: border-box;
}

html, body{
    color: rgb(249, 247, 247);
    background-color: rgba(3, 3, 3, 0.907);
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.contenitore-primario{
    height: 100%;
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.testos{
    padding-left:15px;
    padding-bottom: 15px;
    font-size:large;
    font-family:'Wix Madefor Text', sans-serif;
    color: rgb(225, 225, 225);
    background-color: rgb(39, 39, 39);
    overflow: auto;
    -webkit-box-shadow: 0px 50px 200px 50px #6b6b6b; 
    box-shadow: 0px 50px 200px 50px #6b6b6b ;
}

.dati-base{
    padding-top: 15px;
    padding-left:15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(23, 23, 23);
    display: flex;
    justify-content: space-between;
}

.esempio{
    color: rgb(1, 172, 251)
}

.titolo{
    color: red;
    margin-top: 20px;
    font-size:x-large;
}

.esercizio{
    color: rgb(3, 205, 0);
}

.dato{
    color: rgb(3, 205, 0);
    padding-right: 20px;
}

.es{
    padding: 20px;
    margin-right: 20px;
    background-color: rgb(49, 49, 49);
    border-radius: 8px;
}

.ess{
    padding: 20px;
    margin-right: 20px;

    background-color: rgb(49, 49, 49);
    border-radius: 8px;
    height: 400px;
    overflow: scroll;
}

.nome{
    color: rgb(223, 223, 223);
    text-decoration: none;
}

.titos{
    color: rgb(223, 223, 223);
    font-family: 'Audiowide', cursive;
}

.data{
    color: rgb(223, 223, 223);
    text-decoration: none;
}



