*{
    box-sizing: border-box;
}

html, body {
    background-color: rgba(0, 0, 0, 0.907);
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: grid;
    place-content: center;
}

.body{
    background-color: rgba(0, 0, 0, 0.907);
}

.testos{
    padding-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-family:'Wix Madefor Text', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.907);
}

.esempio{
color: rgb(1, 172, 251)
}

.titolo{
    color: red;
    margin-top: 20px;
}

.esercizio{
    color: rgb(8, 185, 5);
}

.dato{
    color: rgb(8, 185, 5);
    padding-right: 20px;
}

.es{
    padding: 1px;
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
}

.ess{
    padding: 1px;
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
    height: 400px;
    overflow: scroll;  
}

webkit-scrollbar{
    color: rgba(255, 255, 255, 0.12);
}

.dati-base{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(170, 168, 168);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nome{
    color: rgb(170, 168, 168);
    text-decoration: none;
}