@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#sfondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#sfondo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenitore-primario{
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    box-shadow: 0px 0px 10px 1px #6e70f0 ; 
}

.testos{
    font-family: 'Titillium Web', sans-serif;
    cursor: auto;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 25px;
    font-size: larger;
    color: rgb(248, 248, 248);
    background-color: #031838;
    overflow: auto;
}

.dati-base{
    cursor: pointer;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: rgb(4, 41, 83);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items:center; 
}

.titolo{
    font-family: 'Monomaniac One', sans-serif;
    color: rgba(255, 213, 0, 0.788);
    margin-top: 20px;
    font-size: x-large;
}

.esercizio{
    color: #8ee3fd;
}

.dato{
    color: #8ee3fd;
    padding-right: 20px;
}

.es{
    cursor: crosshair;
    padding: 20px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.098);
    border-radius: 8px;
    color: #8ee3fd;
}

.ess{
    cursor: crosshair;
    padding: 20px;
    margin-right: 20px;
    background-color: rgb(27, 44, 72);
    color: #8ee3fd;
    border-radius: 8px;
    height: 300px;
    overflow: scroll;
}

.nome{
    width: 100px;
    height: 30px;
    font-size:medium;
    font-family: 'Audiowide', cursive;
    cursor: help;
    color: #23f5cb;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    align-items:center;
}

.img{
    height: 20px;
    width: 20px;
}

.titos{
    font-size: large;
    place-content: center;
    text-decoration: none;
    cursor: help;
    color: #23f5cb;
    font-family: 'Audiowide', cursive;
    align-items: center;
}

.data{
    align-items: center;
    font-size: small;
    font-family: 'Audiowide', cursive;
    cursor: help;
    color: #23f5cb;
    text-decoration: none;
}